.h3-1{
    font-family: 'Playwrite US Trad', cursive;
    font-optical-sizing: 32;
    font-weight: 400;
    font-style: normal;
    
}

h2{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: 64;
    font-weight: 700;
    font-style: normal;
}

h3{
    font-family: fantasy;
    font-weight: 400;
}
